.about__page-section{
	border-top: .5px white solid;

	@mixin atMedium{
		border: 0;
	}
}

/*.about__page-content{
	background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)),url("/assets/images/about-bg4.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}*/

.about__page-content{
	background: linear-gradient(to bottom, #fafafa, #fff);
/*	background: #fafafa;*/
}

.about__cat{
	padding: 0;
	width: 85px;
	height: 50px;

	@mixin atMedium{
		width: 293px;
		height: 115px;
		cursor: pointer;
	}
}

.w-box{
	background: white;
	border: $mainBlue 2px solid;
	box-shadow: 0 0 4px #AAA; 
	border-radius: 5px;
}

.b-spacing{

	@mixin atMedium{
		margin-bottom: 50px;
	}
}

.t-m-spacing{
	margin-top: 10px;
}

.about__title{
	text-align: center;
	font-size: .55rem;

	@mixin atMedium{
	font-size: 1.25rem;
	padding: 2rem;
	margin: 0;
	}
}


.active-title{
	background: $mainBlue;
	color: white;
	border: 1px white solid;
}

.opaque{
	background-color: rgba(250, 250, 250, .85);

	@mixin atMedium{
		background-color: rgba(250, 250, 250, .75);
	}
}

.text-box{
	height: 100%;
}

.about__text{
	padding: .8rem;
	font-size: .9rem;
	line-height: 2.5;
	font-weight: 300;


	@mixin atMedium{
		padding: 1.5rem;
		font-size: 1rem;
		line-height: 4.5;
		font-weight: 500;
	}
}

.tab{
	overflow: hidden;
}

.tabcontent{
	display: none;
}