.about{
	&__p-header{
		color: #831111;
		text-align: center;
		font-size: 1.25rem;
		margin-bottom: 20px;

		@mixin atMedium{
			margin-bottom: 30px;
			font-size: 2rem;
			font-weight: 450;
		}
	}

	&__p-text{
		line-height: 1.7;
		font-size: .8rem;
		margin-bottom: 25px;


		@mixin atMedium{
			line-height: 4;
			margin-top: 25px;
			margin-bottom: 20px;
			font-size: 1rem;
		}
	}

	&__image{
	margin-top: 20px;
	}
}
