.btn {
	background: $mainBtn;
	color: #FFF;
	text-decoration: none;
	padding: 1rem 1.5rem;
	display: inline-block;
	
	&--large {
		padding: 1rem 2rem;
		margin-bottom: 2rem;

		@mixin atMedium{
		/*padding: 1.2rem 2.4rem;*/
		padding: 1rem;
		font-size: 2rem;
		margin-bottom: 0;
		}
	}

	&--about{
		width: 100%;
		margin-bottom: 25px;

		@mixin atMedium{
			margin-left: 26%;
			margin-bottom: 0;
			width: 250px;
		}
	}

	&--cta{
		display: inline-block;
		float: right;
	}
}

/*Button responsive design in lecture 22 @ 6min*/