.btn {
	background: $mainBtn;
	color: #FFF;
	text-decoration: none;
	padding: 1rem 1.5rem;
	display: inline-block;
	
	&--large {
		padding: 1rem 2rem;
		margin-bottom: 2rem;
		border-radius: 50px;

		@mixin atMedium{
		/*padding: 1.2rem 2.4rem;*/
		padding: 1.2rem 2.5rem;
		font-size: 2rem;
		margin-bottom: 0;
		margin-left: 50px;
		border-radius: 30px;
		}
	}

	&--about{
		width: 100%;

		@mixin atMedium{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 250px;
			border-radius: 25px;
		}
	}

	&--about:hover{
		border: $mainBtn 1px solid;
		color: $mainBtn;
		background: white;
	}

	&--cta{
		display: inline-block;
		float: right;
	}

	&--cta:hover{
		border: $mainBtn 1px solid;
		color: $mainBtn;
		background: white;
	}

	&--card{
		background: white;
		color: $mainBlue;
		font-size: 1rem;
		padding: .75rem 4em;


		@mixin atMedium{
			font-size: 1.3rem;
			padding-left: 3rem;
			padding-right: 3rem;
			border-radius: 25px;
		}
	}

	&--card:hover{
		border: white 1px solid;
		color: white;
		background: $mainBlue;
	}
}

/*Button responsive design in lecture 22 @ 6min*/