.copyright{
	background: #2B2C2C;

	&__text{
		width: 100%;
		text-align: center;
		color: white;
		padding-top: 8px;

		@mixin atMedium{
			text-align: left;
			padding: 15px 0;
			color: white;
			margin-left: 20%;
			margin-bottom: 0;
		}
	

	}
	&__list{
		padding: 15px 0;
		list-style: none;
		color: white;
		margin-bottom: 0;
		position: absolute;
		
	}

	&__nav-item{
		display: none;

		@mixin atMedium{
			display: inline;
			margin-left: 25px;
			color: white;
		}
	}

	&__nav-item:hover{
		text-decoration: none;
		color: yellow;
	}
}