.copyright{
	background: #2B2C2C;

	&__text{
		padding: 15px 0;
		color: white;
		margin-left: 40%;
		margin-bottom: 0;
	}
	&__list{
		padding: 15px 0;
		list-style: none;
		color: white;
		margin-bottom: 0;
		position: absolute;
		right: 250px;
	}
}