.heading{
	background: white;
	height: 15px;

	@mixin atSmall{
		background: $mainBlue;
		height: 5vh;
		/*35px*/
	}

	&__icon{
		font-size: .5rem;
		color: $mainGray;
		margin-left: 10px;
		margin-right: 8px;

		@mixin atSmall {
			font-size: .7rem;
			color: white;
		}

		@mixin atMedium {
			font-size: .8rem;
			color: white;
		}

		@mixin atLarge {
			font-size: 1.1rem;
			color: white;
		}
	}

	&__text{
		font-size: .5rem;
		color: $mainGray;
		margin-left: 5px;
		margin-right: 5px;
		font-weight: 300;

		@mixin atSmall {
			font-size: .7rem;
			color: white;
		}


		@mixin atMedium {
			font-size: .8rem;
			color: white;
		}

		@mixin atLarge {
			font-size: 1.1rem;
			color: white;
		}
	}
}