.hero{
	position: relative;
	overflow: hidden;
	background: url("/assets/images/hero/hero--image-cropped.jpg") no-repeat center;
    background-size: cover;
    height: 67vh;

	
	&__text-content{
		position: absolute;
		top: 80%;
		left: 0;
		transform: translateY(-10%);
		width: 100%;
		text-align: center;
		color: #FFF;
		text-transform: uppercase;
	}

	&__title {
		margin-bottom: .2rem;
		text-shadow: 2px 2px 0 rgba(0,0,0, .1);
		font-size: 1.1rem;
		font-weight: 400;

		@mixin atSmall {
			font-size: 1.4rem;
		}

		@mixin atMedium {
			font-size: 1.8rem;
		}

		@mixin atLarge {
			font-size: 2.2rem;
		}
	}

	&__subtitle {
		margin-top: 0;
		text-shadow: 2px 2px 0 rgba(0,0,0, .1);
		font-size: 1.2rem;
		font-weight: 400;

		@mixin atSmall {
			font-size: 1.6rem;
		}

		@mixin atMedium {
			font-size: 2rem;
		}

		@mixin atLarge {
			font-size: 2.5rem
		}
	}
}

