.hero{
	position: relative;
	overflow: hidden;
	background: linear-gradient(to bottom, rgba(0, 0, 0, .35), rgba(0, 0, 0, .35)), url("https://imgur.com/a/nFooFZr") no-repeat center;
    background-size: cover;
    height: 58vh;
    

	&__text-content{
		position: absolute;
		top: 80%;
		left: 0;
		transform: translateY(-10%);
		width: 100%;
		text-align: center;
		color: #FFF;
		text-transform: uppercase;
	}

	&__title {
		text-shadow: 2px 2px 0 rgba(0,0,0, .1);
		font-size: 1.3rem;
		font-weight: 400;
		animation-iteration-count: 0;

		@mixin atSmall {
			font-size: 1.4rem;
			margin-bottom: .2rem;
		}

		@mixin atMedium {
			font-size: 1.8rem;
			animation-iteration-count: 1;
		}

		@mixin atLarge {
			font-size: 2.2rem;
		}
	}

	&__subtitle {
		margin-top: 0;
		text-shadow: 2px 2px 0 rgba(0,0,0, .1);
		font-size: 1.35rem;
		font-weight: 400;
		animation-iteration-count: 0;

		@mixin atSmall {
			font-size: 1.6rem;
		}

		@mixin atMedium {
			font-size: 2rem;
			animation-iteration-count: 1;
		}

		@mixin atLarge {
			font-size: 2.5rem
		}
	}
}

