.primary-nav{
	background: $mainBlue;
	height: 30px;
	border-top: 1px solid $mainGray;

	@mixin atMedium {
		background: white;
		height: 6vh;
		/*50px*/
	}

	&__list{
		list-style: none;

		@mixin atMedium{
			background: white;
		
		}
	}

	&__item{
		text-decoration: none;
		font-size: .6rem;
		font-weight: 400;
		color: white;
		margin-right: 25px;
		text-align: center;

		@mixin atMedium{
			font-size: 1.3rem;
			color: #151C32;
			margin-right: 0px;
			margin-left: 15px;
			padding: .9rem 1rem;
		}

	}

	&__item:hover{
		text-decoration: none;
		color: $mainBlue;
	}

	&__icon{
		padding-right: 8px;
		color: white;
		display: inline;
		font-size: .9rem;
		margin-right: 15px;
		margin-left: 17px;

		@mixin atMedium{
			margin-right: 0;
			font-size: 2rem;	 
			color: $mainGray;		
		}	
	}

	&__icon:hover{
		color: #d3d321;
	}
}

.active{
	@mixin atMedium{
		color: white;
		background-color: rgba($mainBlue, .71);
		padding: .9rem 2.2rem;
	}
}

.active:hover {
	@mixin atMedium{
		color: yellow;
	}
}