a:hover{
	text-decoration: none;
}

.primary-nav{
	background: $mainBlue;
	border-top: 1px solid $mainGray;
	
	
	@mixin atMedium {
		background: white;
		padding: .4rem;

	}

	&__list{
		list-style: none;
		padding-right: 2.2rem;
	
	
		@mixin atMedium{
			background: white;
		
		}
	}

	&__item{
		text-decoration: none;
		font-size: .6rem;
		font-weight: 400;
		color: white;
		margin-right: 20px;
		text-align: center;


		@mixin atMedium{
			font-size: 1.3rem;
			transition: 0.7s;
			color: #151C32;
			margin-right: 0px;
			margin-left: 15px;
			padding: 0 1rem;
		}

	}

	&__item:hover{

		@mixin atMedium{
			text-decoration: none;
			color: #FFF;
			background: $mainBlue;
			padding: .7rem 1rem;
			overflow: hidden;
		}
	}

	&__icon{
		padding-right: 8px;
		color: white;
		display: inline;
		font-size: .9rem;
		margin-left: 17px;
		margin-right: 13px;

		@mixin atMedium{
			text-decoration: none;
			margin-right: 0;
			font-size: 2rem;	 
			color: $mainGray;		
		}	
	}

	&__icon:hover{
		color: #d3d321;
	}
}

.active{
	@mixin atMedium{
		color: #831111;
		font-weight: bold;
	}
}

.active:hover {
	@mixin atMedium{
	
	}
}